

body {
  background-color: #DFE5F4;
}

body {
    margin: 0 auto; /* Center the content */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if you want */
}

.map {
  position: relative; /* Allow circles to be rendered on top */
  z-index: 1; /* Lower z-index than header/footer */
}

header {
  position: fixed; /* Fixes the footer at the bottom */
  top: 0; /* Aligns it to the bottom */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes it span the full width */
  margin: 0;
  clear: both; /* Ensure it stays below floated elements */
  z-index: 10;
}

#title h1, h2 {
  font-family: "Kodchasan", sans-serif;
  color: #262262;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1920px;
}

footer {
  position: fixed; /* Fixes the footer at the bottom */
  bottom: 0; /* Aligns it to the bottom */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes it span the full width */
  margin: 0;
  clear: both; /* Ensure it stays below floated elements */
  z-index: 10;
}

#NudiDivs {
  z-index: 3;
  position: fixed;
  top: 5%;
  right: 0;
  width: 55%;
  overflow-y: auto; 
  height: 100vh;
}

#NudiContainers {
  background: black;
  font-family: "Kodchasan", sans-serif;
}

img {
  width: 100%; /* Thumbnail size */
  height: auto; /* Maintain aspect ratio */
}

#footer p, h3 {
  font-family: "Kodchasan", sans-serif;
  color: #262262;
  width: 100%;
}

#section {
  margin: 10px 0; /* Space between sections */
}

.tax_kingdom,
.tax_phylum,
.tax_class,
.tax_subclass,
.tax_order,
.tax_family,
.title {
  display: inline-block; /* Ensures all are inline blocks */
  padding: 5px 10px; /* Common padding for all */
}

.tax_kingdom {
    background-color: #1C75BC;
}

.tax_phylum {
  background-color: #275390;
}

.tax_class {
  background-color: #273370;
}

.tax_subclass {
  background-color: #3C2670;
}

.tax_order {
  background-color: #662D91;
}

.tax_family {
  background-color: #CF1E3C;
}  

.title {
  background-color: #FF0000;
}

#section h3, h4, h5, h6, p {
  font-family: "Kodchasan", sans-serif;
  color: #262262;
  max-width: 1920px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-weight: 700;
  font-size: 28pt;
}

h2 {
  margin-top: 0;
  margin-left: 25px;
  font-weight: 400;
  font-size: 18pt;
}

h3 {
  font-weight: 500;
  font-size: 16pt;
}

h4 {
  font-weight: 700;
  font-size: 10pt;
  text-transform: uppercase;
  margin-left: 0px;
}

h5 {
  font-weight: 700;
  font-size: 10pt;
}

p {
  font-weight: 300;
  font-size: 14pt;
  width: 50%;
}

.mapTooltip {
  display: flex;
  align-items: center;
  z-index: 4;
}

.mapTooltip img {
  width: 100px; /* Thumbnail size */
  height: auto; /* Maintain aspect ratio */
  z-index: 4;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*

// Reminder to self of the Kodchasan styles
.kodchasan-extralight {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kodchasan-light {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-medium {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-extralight-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kodchasan-light-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kodchasan-regular-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kodchasan-medium-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kodchasan-semibold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kodchasan-bold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: italic;
}
*/