body {
  background-color: #DFE5F4;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if you want */
    margin: 0; /* Remove default margin */
}


#section {
  margin: 10px 0; /* Space between sections */
}

.tax_kingdom {
    fill: #1C75BC;
}

.tax_phylum {
    fill: #275390;
}

.tax_class {
    fill: #273370;
}

.tax_subclass {
    fill: #3C2670;
}

.tax_order {
    fill: #662D91;
}

.tax_family {
    fill: #CF1E3C;
}  

.title {
    fill: #FF0000;
}


#section h1, h2, h3, h4, h5, h6, p {
  font-family: "Kodchasan", sans-serif;
  color: #262262;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0;
  margin-top: 0;
  width: 1920px;
}

h1 {
  font-weight: 700;
  font-size: 28pt;
}

h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 18pt;
}

h3 {
  font-weight: 500;
  font-size: 16pt;
}

h4 {
  font-weight: 700;
  font-size: 10pt;
}

p {
  font-weight: 300;
  font-size: 14pt;
  width: 50%;
}

.tooltip img {
  width: 100px; /* Thumbnail size */
  height: auto; /* Maintain aspect ratio */
}

footer {
  position: fixed; /* Fixes the footer at the bottom */
  bottom: 0; /* Aligns it to the bottom */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes it span the full width */
  margin: 0;
  clear: both; /* Ensure it stays below floated elements */
}

#footer p, h3 {
  width: 100%;
}

/*

// Reminder to self of the Kodchasan styles
.kodchasan-extralight {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kodchasan-light {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-medium {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-extralight-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kodchasan-light-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kodchasan-regular-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kodchasan-medium-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kodchasan-semibold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kodchasan-bold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: italic;
}
*/